
.comment-tab{
    background: color($colors, s-dark, base);
}

.add-input{
    padding-right: 0px;
}

.add-input-button{
    height: 100%;
    background: white;
    margin-right: 0px;
    padding-right: 0px;
}

.icon{
    font-size: 2em;
    margin-right: 0px;
    padding-right: 0px;
}

.people-icon{
    padding-left: 10px;
}

.people-chip{
    margin-bottom: 10px;
    margin-left: 5px;
}

.restricted-message{
    padding: 20px;
    text-align: center;
}

.request-button {
    color: color($colors, light, base) !important;
    background: color($colors, s-dark, base) !important;
    width:90%;
    border: none;
  }

  .pending-button {
    color: white !important;
    background: gray !important;
    border: none;
    width:90%;
  }

  .cancel-button {
    color: white !important;
    background: #FF5252 !important;
    border: none;   
    width:90%;
  }

  /*.edit-button {
    color: color($colors, secondary, base) !important;
    border-color: color($colors, secondary, base) !important;
    width:90%;
  }*/
