
.comment-tab{
    background: color($colors, s-dark, base);
}

.add-input{
    padding-right: 0px;
}

.add-input-button{
    height: 100%;
    background: white;
    margin-right: 0px;
    padding-right: 0px;
}

.icon{
    font-size: 2em;
    margin-right: 0px;
    padding-right: 0px;
}
