<ion-header>
    <ion-navbar>
      <ion-title>
        Hangout with {{ userData[data.owner].name }}
      </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <ion-navbar padding color="s-dark" class="card-header">
      <ion-row>
        <ion-col col-2>
          <ion-icon item-start style="padding-right:10px" name="beer"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <h2 item-start class="card-text"> {{ data.description }}</h2>
        </ion-col>
      </ion-row>
    </ion-navbar>
    <ion-item>
      <ion-icon item-start name="clock" color="s-dark"></ion-icon>
      <h3> {{ date + " @ " + fromTime + " - " + toTime }} </h3>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" item-start color="s-dark"></ion-icon><h3>{{ data.place }}</h3>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-icon class="people-icon" color="s-dark" name="people"></ion-icon>
        <ion-chip class="people-chip" *ngFor="let u of data.confirmedUsers" (click)="handleProfileClick(u)" >
          <ion-label>{{userData[u].name}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><button ion-button round outline margin class="theme-button">REQUEST TO JOIN</button></ion-col>
    </ion-row>
  </ion-card>

  <div style="margin:10px;">
  <ion-segment class="comment-tab" [(ngModel)]="commentSection" (ionChange)="segmentChanged(this)">
    <ion-segment-button  value="comments">
      Comments
    </ion-segment-button>
    <ion-segment-button value="messages">
      Messages
    </ion-segment-button>
  </ion-segment>

  <div id="comments" [ngSwitch]="commentSection">
    <ion-list>
        <comment-card *ngFor="let comment of comments" [content]="comment" [user]="userData[comment.author]"></comment-card>
    </ion-list>
    <ion-item>
      <ion-input class="add-input" type="text" placeholder="Add comment"></ion-input>
      <button class="add-input-button" (click)="addComment()" clear item-right><ion-icon name="send"></ion-icon></button>
     </ion-item>
  </div>

  <div id="messages" [ngSwitch]="commentSection">
        <div *ngIf="isConfirmed">
          <ion-list>
            <comment-card *ngFor="let comment of messages" [content]="comment" [user]="userData[comment.author]"></comment-card>
          </ion-list>
          <ion-item color="light">
          <ion-input class="add-input" [value]="newComment" (input)="setComment($event.target.value)" type="text" placeholder="Add comment"></ion-input>
            <button class="add-input-button" (click)="addComment()" clear item-right><ion-icon class="icon" color="s-dark" name="send"></ion-icon></button>
          </ion-item>
        </div>
        <div *ngIf="!isConfirmed">
            <ion-card class="restricted-message"><ion-icon color="s-dark" name="lock"> </ion-icon><p>You will be able to access this section when you are accepted to the hangout.</p></ion-card>
        </div>
      </div>
</div>

</ion-content>
