<ion-card color="light">
    <ion-row>
      <ion-item color="s-dark">
        <ion-icon item-start name="person"></ion-icon>
        <p>{{ userData[data.owner].name }}</p>
      </ion-item>
    </ion-row>
  <ion-item color="light">
    <p> {{ data.description }}</p>
  </ion-item>
  <ion-item color="light">
    <ion-icon item-start name="beer"></ion-icon>
    <p> {{ fromTime + " - " + toTime }} </p>
  </ion-item>
  <ion-item color="light">
    <ion-icon name="pin" item-start></ion-icon><p> {{ data.place }} </p>
  </ion-item>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small color="secondary">
        <ion-icon name="people"></ion-icon>
        <div>{{ data.confirmedUsers.length }}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="secondary">
        <ion-icon name="text"></ion-icon>
        <div>{{ data.commentIds.length }}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button clear small color="secondary">
        <ion-icon name="key"></ion-icon>
        <div padding>{{ data.privateMessageIds.length }}</div>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col><button ion-button full color="dark" (click)="handleClick()">See more</button></ion-col>
  </ion-row>
</ion-card>