<ion-card color="light">
    <ion-row>
      <ion-item color="s-dark">
        <ion-icon item-start name="person"></ion-icon>
        <p>Girl24</p>
      </ion-item>
    </ion-row>
  <ion-item color="light">
    <p>Is anyone up for just one beer tonight? Just one</p>
  </ion-item>
  <ion-item color="light">
    <ion-icon item-start name="beer"></ion-icon>
    <p> Tonight 20-22 </p>
  </ion-item>
  <ion-item color="light">
    <ion-icon name="pin" item-start></ion-icon><p>Östermalm</p>
  </ion-item>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small color="secondary">
        <ion-icon name="people"></ion-icon>
        <div>12</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="secondary">
        <ion-icon name="text"></ion-icon>
        <div>5</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button clear small color="secondary">
        <ion-icon name="key"></ion-icon>
        <div padding>10</div>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col><button ion-button full color="dark" (click)="handleClick()">See more</button></ion-col>
  </ion-row>
</ion-card>