<ion-card>
    <ion-row>
      <ion-item class="card-header">
        <ion-icon item-start name="person"></ion-icon>
        <h2>{{ userData[data.owner].name }}</h2>
      </ion-item>
    </ion-row>
  <ion-item>
    <p> {{ data.description }}</p>
  </ion-item>
  <ion-item>
    <ion-icon item-start name="beer" color="s-dark"></ion-icon>
    <p> {{ fromTime + " - " + toTime }} </p>
  </ion-item>
  <ion-item>
    <ion-icon name="pin" item-start color="s-dark"></ion-icon><p> {{ data.place }} </p>
  </ion-item>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small color="secondary" style="font-size:1.2em">
        <ion-icon name="people"></ion-icon>
        <div>{{ data.confirmedUsers.length }}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="secondary" style="font-size:1.2em">
        <ion-icon name="text"></ion-icon>
        <div>{{ data.commentIds.length }}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button clear small color="secondary" style="font-size:1.2em">
        <ion-icon name="key"></ion-icon>
        <div padding>{{ data.privateMessageIds.length }}</div>
      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center><button class="title-font theme-button" ion-button outline round margin-bottom (click)="handleClick()">See more</button></ion-col>
  </ion-row>
</ion-card>
