<ion-header>
  <ion-navbar>
    <ion-title align="center">
      My Hangouts
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- Tabs -->
<ion-content padding class="background">
  <ion-row class="theme-segment">
    <ion-col col-6 text-center class="theme-segment-activated">
      <a type="radio" (click) = "segmentChanged('joining')">JOINING</a>
    </ion-col>
    <ion-col col-6 text-center>
      <a type="radio" (click) = "segmentChanged('hosting')">HOSTING</a>
    </ion-col>
  </ion-row>

  <div id="joining" class="joining_content" ng-show="activeButton === 'JOINING'">
    <hangout-card *ngFor="let j of joiningEvents" [hangout]="j"></hangout-card>
  </div>
  <div id="hosting" class="hosting_content" ng-show="activeButton === 'HOSTING'">
      <hangout-card *ngFor="let h of hostingEvents" [hangout]="h"></hangout-card>
  </div>
</ion-content>
