<ion-header>
  <ion-navbar>
    <ion-title align="center">
      My Hangouts
    </ion-title>
  </ion-navbar>

  <ion-row class="theme-segment-static theme-segments">
    <ion-col text-center id="joiningTab" name="joining" [ngClass]="(tab == 'joining') ? 'theme-segment-active' : 'theme-segment-inactive'" (click)="segmentChanged('joining')"><span>JOINING</span></ion-col>
    <ion-col text-center id="pendingTab"  name="pending" [ngClass]="(tab == 'pending') ? 'theme-segment-active' : 'theme-segment-inactive'" (click)="segmentChanged('pending')"><span>PENDING</span></ion-col>
    <ion-col text-center id="hostingTab"  name="hosting" [ngClass]="(tab == 'hosting') ? 'theme-segment-active' : 'theme-segment-inactive'" (click)="segmentChanged('hosting')"><span>HOSTING</span></ion-col>
  </ion-row>

</ion-header>

<!-- Tabs content -->
<ion-content padding class="background">
  <div id="joining" class="joining_content" ng-show="activeButton === 'JOINING'">
    <hangout-card *ngFor="let j of joiningEvents" [hangout]="j"></hangout-card>
  </div>
  <div id="pending" class="pending_content" ng-show="activeButton === 'PENDING'">
    <hangout-card *ngFor="let p of pendingEvents" [hangout]="p"></hangout-card>
  </div>
  <div id="hosting" class="hosting_content" ng-show="activeButton === 'HOSTING'">
      <hangout-card *ngFor="let h of hostingEvents" [hangout]="h"></hangout-card>
  </div>
</ion-content>
