// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
@font-face{
font-family: 'Oswald';
src: url('../assets/fonts/Oswald-Regular.ttf');
font-style: normal;
}

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


//------- YELLOW THEME ----------
//Black and Yellow theme
$colors: (
  primary:    #f4f4f4,
  secondary:  #ffb300,
  s-dark:     #c68400,
  s-light:    #ffe54c,
  light:      #f4f4f4,
  dark:       #222,
  danger:     #ff5252,
  ok:         #b4e288,
  grey:       #707070,
);

//Yellow background
$GRADIENT_LIGHT: #ffffb1;
$GRADIENT_DARK: #ffe54c;
$CARD_COLOR: #ffffff;
$CARD_HEADER: #222;
$TOPNAV_COLOR: black;
$BOTTOMNAV_COLOR: black;
$TITLE_FONT_COLOR: #ffffff;
$FONT_COLOR: black;
$HIGHLIGHT_COLOR: #ffb300;//badges, icons, buttons
$NAV_INACTIVE_ICON: #222;
$THEME_BUTTON: #222;
$BUTTON_FONT: white;

//------- GREEN THEME ----------
/*$colors: (
  primary:    #f4f4f4,
  secondary:  #31af81,
  s-dark:     #13724f,
  s-light:    #b4edba,
  light:      #f4f4f4,
  dark:       #222,
  ok:         #31af81,
  danger:     #ed7476
);

$GRADIENT_LIGHT: #b4edba;
$GRADIENT_DARK: #13724f;
$CARD_COLOR: #ffffff;
$CARD_HEADER: #31af81;
$TOPNAV_COLOR: #31af81;
$BOTTOMNAV_COLOR: #ffffff;
$TITLE_FONT_COLOR: #ffffff;
$FONT_COLOR: #222;
$HIGHLIGHT_COLOR: #31af81;//badges, icons, buttons
$NAV_INACTIVE_ICON: #b4edba;
$THEME_BUTTON: #222;
$BUTTON_FONT: white;
*/

//------- PURPLE LIGHT THEME ----------
/*$colors: (
  primary:    #f4f4f4,
  secondary:  #1a237e,
  s-dark:     #000051,
  s-light:    #534bae,
  light:      #f4f4f4,
  dark:       #222,
  ok:         #31af81,
  danger:     #ed7476
);

$GRADIENT_LIGHT: #f956f6;
$GRADIENT_DARK: #1a237e;
$CARD_COLOR: #ffffff;
$CARD_HEADER: #ffffff;
$TOPNAV_COLOR: #ffffff;
$BOTTOMNAV_COLOR: #ffffff;
$TITLE_FONT_COLOR: #000051;
$FONT_COLOR: #000051;
$HIGHLIGHT_COLOR: #f956f6;//badges, icons, buttons
$NAV_INACTIVE_ICON: #534bae;
$THEME_BUTTON: #222;
$BUTTON_FONT: white;
*/
//------- PURPLE DARK THEME ----------
/*$colors: (
  primary:    #f4f4f4,
  secondary:  #f4f4f4,
  s-dark:     #9b3699,
  s-light:    #534bae,
  light:      #f4f4f4,
  dark:       #222,
  ok:         #99ffab,
  danger:     #ff7790
);

$GRADIENT_LIGHT: #f956f6;
$GRADIENT_DARK: #1a237e;
$CARD_COLOR: #222;
$CARD_HEADER: #222;
$TOPNAV_COLOR: black;
$BOTTOMNAV_COLOR: black;
$TITLE_FONT_COLOR: white;
$FONT_COLOR: white;
$HIGHLIGHT_COLOR: #f956f6;//badges, icons, buttons
$NAV_INACTIVE_ICON: #222;
$THEME_BUTTON: #222;
$BUTTON_FONT: white;
*/
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

//@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
