// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
@font-face{
font-family: 'Oswald';
src: url('../assets/fonts/Oswald-Regular.ttf');
font-style: normal;
}

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


//------- YELLOW THEME ----------
//Black and Yellow theme
/*
$colors: (
  primary:    #f4f4f4,
  secondary:  #ffb300,
  s-dark:     #c68400,
  s-light:    #ffe54c,
  light:      #f4f4f4,
  dark:       #222,
  grey:       #707070,
);

//Yellow background
$GRADIENT_LIGHT: #ffe54c;
$GRADIENT_DARK: #c68400;
$CARD_COLOR: #ffffff;
$CARD_HEADER: #222;
$TOPNAV_COLOR: #222;//topnav
$BOTTOMNAV_COLOR: #222;
$TITLE_FONT_COLOR: #ffffff;
$HIGHLIGHT_COLOR: #ffb300;//badges, icons, buttons
*/

//------- GREEN THEME ----------
$colors: (
  primary:    #f4f4f4,
  secondary:  #31af81,
  s-dark:     #13724f,
  s-light:    #b4edba,
  light:      #f4f4f4,
  dark:       #222,
);

$GRADIENT_LIGHT: #b4edba;
$GRADIENT_DARK: #31af81;
$CARD_COLOR: #ffffff;
$CARD_HEADER: #31af81;
$TOPNAV_COLOR: #31af81;
$BOTTOMNAV_COLOR: #ffffff;
$TITLE_FONT_COLOR: #ffffff;
$HIGHLIGHT_COLOR: #31af81;//badges, icons, buttons



//============================== GENERAL ==================================
.background {
   background: $GRADIENT_LIGHT;
   background: -webkit-linear-gradient($GRADIENT_LIGHT, $GRADIENT_DARK);
   background: -o-linear-gradient($GRADIENT_LIGHT, $GRADIENT_DARK);
   background: -moz-linear-gradient($GRADIENT_LIGHT, $GRADIENT_DARK);
   background: linear-gradient($GRADIENT_LIGHT, $GRADIENT_DARK);
  }

//top navbar
.toolbar-background {
  background: $TOPNAV_COLOR !important;
}

//bottom navbar
.tabbar {
  background: $BOTTOMNAV_COLOR !important;
  color: $TITLE_FONT_COLOR !important;
}

//card color
.card, .card > .item-block {
  background: $CARD_COLOR !important;
}

.card-header {
  background-color: $CARD_HEADER !important;
  color: $TITLE_FONT_COLOR !important;
}

.card-header h2 {
  color: $TITLE_FONT_COLOR !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: bold;
}

.theme-button {
  color: $HIGHLIGHT_COLOR !important;
  border-color: $HIGHLIGHT_COLOR !important;
  width:90%;
}

.toolbar-title {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: bold;
  color: $TITLE_FONT_COLOR !important;
}

 .theme-font{
   font-family: 'Oswald';
   text-transform: uppercase;
   font-weight: bold;
}

.navbar-icon {
  color: $TITLE_FONT_COLOR !important;
}



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

//@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
