// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//============================== GENERAL ==================================

.background {
   background: $GRADIENT_LIGHT;
   background: -webkit-linear-gradient($GRADIENT_LIGHT, $GRADIENT_DARK);
   background: -o-linear-gradient($GRADIENT_LIGHT, $GRADIENT_DARK);
   background: -moz-linear-gradient($GRADIENT_LIGHT, $GRADIENT_DARK);
   background: linear-gradient($GRADIENT_LIGHT, $GRADIENT_DARK);
  }

//TOPNAV
.toolbar-background {
  background: $TOPNAV_COLOR !important;
}

.toolbar-title {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: bold;
  color: $TITLE_FONT_COLOR !important;
}

.back-button {
  color: $TITLE_FONT_COLOR !important;
}


//BOTTOM NAV
.tabbar {
  background: $BOTTOMNAV_COLOR !important;
  color: $TITLE_FONT_COLOR !important;
}

//active color in tabbar
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: $HIGHLIGHT_COLOR !important;
}

//inactive icons in tab background
.tab-button-icon[ng-reflect-is-active=false] {
  color:  $NAV_INACTIVE_ICON !important;
}

.navbar-icon {
  color: $TITLE_FONT_COLOR !important;
}

//RADIO BUTTONS
.radio-checked {
  border-color: $HIGHLIGHT_COLOR !important;
}

.radio-checked .radio-inner {
  background: $HIGHLIGHT_COLOR !important;
}

.item-radio-checked > div > div > .label{
  color: $HIGHLIGHT_COLOR;
}

//CARD
.card, .card > .item-block {
  background: $CARD_COLOR !important;
}

.card-bg {
  background-color: $CARD_COLOR !important;
  color: $FONT_COLOR !important;
}

.card-text {
  color: $FONT_COLOR !important;
}

.card-header {
  background-color: $CARD_HEADER !important;
  color: $TITLE_FONT_COLOR !important;
}

.card-header h2 {
  color: $TITLE_FONT_COLOR !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-weight: bold;
  //color: $TITLE_FONT_COLOR !important; //comment out if CARD_COLOR is light
}

.ion-item > h1,h2,h3,h4,h5,p {
  color: $FONT_COLOR !important
}


//BUTTON
.theme-button {
  color: $BUTTON_FONT !important;
  border-color: transparent !important; //check
  background: $THEME_BUTTON !important;
  width:90%;
}


//FONT
 .theme-font{
   font-family: 'Oswald';
   text-transform: uppercase;
   font-weight: bold;
}

//SEGMENTS aka sub tabs
.theme-segments {
  font-family: 'Oswald' !important;
  color: $TITLE_FONT_COLOR;
  background: $NAV_INACTIVE_ICON !important;
}

.theme-segment-active{
  background: $HIGHLIGHT_COLOR !important;
}

.theme-segment-inactive{
  background: $CARD_HEADER !important;
}
