.picker-wrapper, .picker-toolbar, .picker-opt {
  background: $CARD_COLOR !important;
  color: $FONT_COLOR !important;
}

.picker-opt-selected, .picker-button, .item-cover {
  color: $HIGHLIGHT_COLOR !important;
}

//modal radio button
.alert-md [aria-checked=true] .alert-radio-icon .alert-radio-inner{
  background: $HIGHLIGHT_COLOR !important;
}

.alert-md [aria-checked=true] .alert-radio-icon {
  border-color: $HIGHLIGHT_COLOR !important;
}

.alert-md [aria-checked=true] .alert-radio-label {
  color: $HIGHLIGHT_COLOR !important;
}

.alert-button-group .alert-button {
  color: $HIGHLIGHT_COLOR !important;
}

//radio modal bg
.alert-button-group, .alert-radio-button {
  background: $CARD_COLOR !important;
}

.alert-radio-button .alert-radio-label {
  color: $FONT_COLOR !important;
}

.alert-head {
  background: $CARD_HEADER !important;
}

.alert-head .alert-title {
  color: $HIGHLIGHT_COLOR !important;
}

.add-input-button {
  background: transparent !important;
}

#eventType {
  background: $CARD_COLOR !important;
  color: #999 !important;
}
